/* =========================== 
    Video hunter specific 
============================== */
.ct-label.ct-vertical.ct-start
{
    font-size: 10px;
}

.ct-bar {
    stroke-width: 10px !important;
}
text.ct-label-custom.ct-label-above {
    font-size: 13px;
    position: relative;
    text-anchor: unset;
    stroke: #ffffff;
    top: 3px;
    position: relative;
}
.logoContainer {
    display: none;
}

body {
    background: #131d26;
    color: white;
}

.queryVideoWrapperInner {
    width: auto;
    display: inline-block;
    font-size: 0;
}

.teamDiv {
    /* max-width: 3.7%; */
    width: 7.4%;
    padding:  3px;
    margin:  0;
    border: none;
    border-radius: 0;
    position: relative;
    margin-bottom: 20px;
}


#teamContainer .teamDiv:nth-child(1) {
    
}
#teamContainer {
    position: relative;
}

.teamScore {
    font-size: 28px;
}

.thumbDiv {
    cursor: pointer;
    width: 320px;
    zoom: 1 !important;
    height: 40px;
    margin: 1px;
    border: 0px solid gold;
    outline: 2px solid black;
    position: relative;
}

.thumbDiv canvas {
    display: none;
}

.thumbWrong {
    background-image: url("../images/thumb_wrong.png");
    background-size: 130%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.thumbCorrect {
    background-image: url("../images/thumb_correct.png");
    background-size: 131%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.teamName {
    font-size: 22px;
    display: block;
}

.thumbContainer > * {
    display: none;
}

.thumbContainer > *:nth-child(1) {
    display: flex;
    width: 40%;
}
.thumbContainer > *:nth-child(2) {
    display: flex;
    width: 30%;
}
.thumbContainer > *:nth-child(3) {
    display: flex;
    width: 20%;
}

#subScore {
    display: none !important;
    order: 1;
}

#overallScore {
    order: 2;
}

.KIS_VisualTextual #queryVideo,
.KIS_Visual #queryVideo,
.KIS_Textual #queryVideo,
.AVS #queryVideo,
.KIS_VisualTextual_novice #queryVideo,
.KIS_Visual_novice #queryVideo,
.KIS_Textual_novice #queryVideo,
.AVS_novice #queryVideo,
.LSC_textual #queryVideo,
.LSC_textual_novice #queryVideo {
    /* opacity: 1; */
}

.KIS_Textual #queryVideo,
.KIS_VisualTextual #queryVideo {
    filter: blur(100px) grayscale(100%);
    width: 100%;
    max-width: 33.3vw;
    max-height: 29vh;
}

#overallScoreChart > svg {
    zoom: 1.6;
}

#teamContainer {
    flex-wrap: wrap;
}

#queryVideo {
    max-height: 44vh;
    transition: 500ms ease-in-out;
    width: 100%;
    opacity: 0;
    height: 35vh;
    width: auto;
    /* filter: blur(100px) grayscale(100%); */
}

#queryVideo.ready {
    opacity: 1;
}

.ct-label-custom {
    padding-bottom: 8px;
}

#queryDiv {
    width: 50%;
}

#subScore > * {
    display: none !important;
}


.topItem {
    width: 25%;

}

.thumbContainer {
    flex-direction: row-reverse;
}

#queryText {

    font-size: 28px;
}

#overallScoreChart > svg > g.ct-labels > foreignObject:nth-child(24) {
    Y: 3.75;
}

#taskName {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    padding: 10px 30px;
    background: rgb(152, 32, 163);
    top: 43px;
    font-size: 26px;
    border: 1px solid #333;
    border-top: 0px;
    border-radius: 0px 0px 30px 30px;
}


thumbOverlay {
    background-size: 130%;
}

#queryVideoProgressBar
{

}

#queryVideoProgressBarInner
{
    height: 10px;
    background: rgb(152, 32, 163);
}