/* =========================== 
    Video hunter specific 
============================== */
.ct-label.ct-vertical.ct-start
{
    font-size: 10px;
}

.videoCtrlButton {
    margin-top: 13px;
}

.videoCtrlButton {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#playBtn {
    margin-left: -19px;
}

#muteBtn {
    margin-left: 15px;
}

.ct-bar {
    stroke-width: 10px !important;
}
text.ct-label-custom.ct-label-above {
    font-size: 13px;
    position: relative;
    text-anchor: unset;
    stroke: #ffffff;
    top: 3px;
    position: relative;
}
.logoContainer {
    display: none;
}

#title {
    display: none;
}

#queryVideoInfo {
    margin-top: 11px;
    position: relative;
}

body {
    background: #181b28;
    color: white;
    overflow-x: hidden;
}

.queryVideoWrapperInner {
    /* width: 100%; */
    object-fit: scale-down;
    position: relative;
    /* padding: 15px; */
    display: inline-block;
    font-size: 0;
    /* background: #0a2b47; */
    /* border: 2px solid #ffffff; */
    /* border-bottom: 0px solid #aaa; */
}

.teamDiv {
    /* max-width: 3.7%; */
    width: 15.6%;
    padding:  3px;
    margin:  0;
    border: none;
    border-radius: 0;
    position: relative;
    margin-bottom: 20px;
    font-size: 0;
}


#teamContainer .teamDiv:nth-child(1) {
    
}
#teamContainer {
    position: relative;
}

.teamScore {
    font-size: 28px;
}

.thumbDiv {
    cursor: pointer;
    width: 320px;
    zoom: 1 !important;
    height: 40px;
    margin: 1px;
    border: 0px solid gold;
    outline: 2px solid black;
    position: relative;
}

.thumbDiv canvas {
    display: none;
}

.thumbWrong {
    background-image: url("../images/thumb_wrong.png");
    background-size: 130%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.thumbCorrect {
    background-image: url("../images/thumb_correct.png");
    background-size: 131%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.teamName {
    font-size: 20px;
    display: block;
}

.thumbContainer > * {
    display: none;
}

.thumbContainer > *:nth-child(1) {
    display: flex;
    width: 40%;
}
.thumbContainer > *:nth-child(2) {
    display: flex;
    width: 30%;
}
.thumbContainer > *:nth-child(3) {
    display: flex;
    width: 20%;
}

#subScore {
    display: none !important;
    order: 1;
}

#overallScore {
    order: 2;
}

.KIS_VisualTextual #queryVideo,
.KIS_Visual #queryVideo,
.KIS_Textual #queryVideo,
.AVS #queryVideo,
.KIS_VisualTextual_novice #queryVideo,
.KIS_Visual_novice #queryVideo,
.KIS_Textual_novice #queryVideo,
.AVS_novice #queryVideo,
.LSC_textual #queryVideo,
.LSC_textual_novice #queryVideo {
    /* opacity: 1; */
}

.KIS_Textual #queryVideo,
.KIS_VisualTextual #queryVideo {
    filter: blur(15px) grayscale(100%);
    width: auto;
    padding: 15px;
    /* max-width: 33.3vw; */
    /* max-height: 29vh; */
}

#overallScoreChart > svg {
    zoom: 1.5;
}

#teamContainer {
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 39vw;
}

#queryVideo {
    /* max-height: 44vh; */
    transition: 500ms ease-in-out;
    opacity: 0;
    height: 53vh;
    /* filter: blur(100px) grayscale(100%); */
}

#queryVideo.ready {
    opacity: 1;
}

.ct-label-custom {
    padding-bottom: 8px;
}

#queryDiv {
    width: 44%;
}

#queryDiv > *{
    display: inline-block;
    width: 100%;
    position: relative;
}

#queryVideoWrapper
{
    
}
#queryVideoWrapper:after
{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    top: -16px;
    z-index: -1;
    left: calc(100% + 10px);
}

#subScore > * {
    display: none !important;
}


.topItem {
    width: 25%;
    /* display: flex; */
}

.thumbContainer {
    flex-direction: row-reverse;
    height: 40px;
}

#queryText {

font-size: 28px;

font-family: sans-serif;
}

#overallScoreChart > svg > g.ct-labels > foreignObject:nth-child(24) {
    Y: 3.75;
}

#topArea {
    align-items: flex-start;
}

#taskName {
    padding: 10px 0px;
    font-size: 34px;
    display: inline-block;
    float: left;
}

#timer {
    font-size: 48px;
    float: right;
}

thumbOverlay {
    background-size: 130%;
}


#queryVideoProgressBar
{
    background: #76ddff;
    /* position: absolute; */
}

#queryVideoProgressBarInner
{
    height: 10px;
    background: rgb(152, 32, 163);
}