/* =========================== 
    Video hunter specific 
============================== */
.ct-label.ct-vertical.ct-start
{
    font-size: 8px;
}

.ct-bar {
    stroke-width: 10px !important;
}
text.ct-label-custom.ct-label-above {
    font-size: 13px;
    position: relative;
    text-anchor: unset;
    stroke: #ffffff;
    top: 3px;
    position: relative;
}
.logoContainer {
    display: none;
}


.teamDiv {
    /* max-width: 3.7%; */
    width: 7.4%;
    padding:  3px;
    margin:  0;
    border: none;
    border-radius: 0;
    position: relative;
    margin-bottom: 20px;
}


#teamContainer .teamDiv:nth-child(1) {
    
}
#teamContainer {
    position: relative;
}

.teamScore {
    font-size: 28px;
}

.thumbDiv {
    cursor: pointer;
    width: 320px;
    zoom: 1 !important;
    height: 40px;
    margin: 1px;
    border: 0px solid gold;
    outline: 2px solid black;
    position: relative;
}

.thumbDiv canvas {
    display: none;
}

.thumbWrong {
    background-image: url("../images/thumb_wrong.png");
    background-size: 152%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.thumbCorrect {
    background-image: url("../images/thumb_correct.png");
    background-size: 154%;
    background-repeat:no-repeat;
    background-position: center center;
    background-color: #ffffff;
}

.teamName {
    font-size: 22px;
    display: block;
}

.thumbContainer > * {
    display: none;
}

.thumbContainer > *:nth-child(1) {
    display: flex;
    width: 40%;
}
.thumbContainer > *:nth-child(2) {
    display: flex;
    width: 30%;
}
.thumbContainer > *:nth-child(3) {
    display: flex;
    width: 20%;
}

#subScore {
    display: none !important;
    order: 1;
}

#overallScore {
    order: 2;
}

.KIS_VisualTextual #queryVideo {
    max-height: 17vh;
    filter: blur(100px) grayscale(100%);
}

#overallScoreChart > svg {
    zoom: 1.6;
}

#teamContainer {
    flex-wrap: wrap;
}

#queryVideo {
    max-height: 44vh;
    width: 100%;
}

.ct-label-custom {
    padding-bottom: 8px;
}

#queryDiv {
    width: 50%;
}

#subScore > * {
    display: none !important;
}


.topItem {
    width: 25%;

}